Queue Player SDK/Queue Player SDK.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Queue Player SDK/Queue Player SDK.xcodeproj/project.xcworkspace/xcuserdata/migrushin.xcuserdatad/UserInterfaceState.xcuserstate
Queue Player SDK/Queue Player SDK.xcodeproj/xcuserdata/migrushin.xcuserdatad/xcschemes/DVQueuePlayer.xcscheme
Queue Player SDK/Queue Player SDK.xcodeproj/xcuserdata/migrushin.xcuserdatad/xcschemes/Queue Player SDK.xcscheme
Queue Player SDK/Queue Player SDK.xcodeproj/xcuserdata/migrushin.xcuserdatad/xcschemes/QueuePlayerAggregate.xcscheme
Queue Player SDK/Queue Player SDK.xcodeproj/xcuserdata/migrushin.xcuserdatad/xcschemes/xcschememanagement.plist
DVQueuePlayerDemo/DVQueuePlayerDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
DVQueuePlayerDemo/DVQueuePlayerDemo.xcodeproj/project.xcworkspace/xcuserdata/migrushin.xcuserdatad/UserInterfaceState.xcuserstate
DVQueuePlayerDemo/DVQueuePlayerDemo.xcodeproj/xcuserdata/migrushin.xcuserdatad/xcschemes/DVQueuePlayerDemo.xcscheme
DVQueuePlayerDemo/DVQueuePlayerDemo.xcodeproj/xcuserdata/migrushin.xcuserdatad/xcschemes/xcschememanagement.plist
Queue Player SDK/Queue Player SDK.xcodeproj/xcuserdata/migrushin.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
QueuePlayerSDK.xcworkspace/xcuserdata/migrushin.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
QueuePlayerSDK.xcworkspace/contents.xcworkspacedata
QueuePlayerSDK.xcworkspace/xcuserdata/migrushin.xcuserdatad/UserInterfaceState.xcuserstate
