xcuserdata
DVQueuePlayerDemo/DVQueuePlayerDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PlaylistPlayer.xcworkspace/contents.xcworkspacedata
PlaylistPlayer.xcworkspace/xcshareddata/Queue Player SDK.xccheckout
Playlist Player SDK/Products
contents.xcworkspacedata
Podfile.lock
DVPlaylistPlayerDemo/Pods
